body {
    background-color: white;
    overflow-x: hidden;
    width: 100%;
}

#canvas{
    display:none
}

.initialMenu{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px
}

.button{
    height: 50px;
    width: 200px;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    background-color: burlywood;
}




.timer {
    width: 200px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.circle {
    height: 250px;
    width: 250px;
    position: absolute;
    top: -25%;
    z-index: 1;
    border-radius: 100%;
    border: solid black 2px;
    background-color: burlywood;
}

p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    z-index: 2;
    margin: 0;
    height: 75px;
    width: 200px;
}

.board{
    width: 500px;
    height: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid rgb(0, 0, 0);
}

.display:hover{
    opacity: 1;
}

.display{
    width: 200px;
    height: 150px;
    border: 3px solid rgb(0, 0, 0);
}

.solution{
    width: 200px;
    height: 150px;
    border: 3px solid rgb(0, 0, 0);
}

.nav{
    width: 650px;
    height: 120px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    background-color: burlywood;
    padding:12px;
    border-radius: 16px;
}
.nav:hover{
    opacity: 1;
}

.container{
    display:flex;
    flex-wrap: wrap;
}

.clr{
    height: 60px;
    width: 60px;
    margin: 2px;
    clip-path: polygon(31% 20%, 35% 20%, 37% 21%, 40% 21%, 42% 22%, 46% 19%, 47% 19%, 52% 16%, 53% 15%, 58% 13%, 60% 12%, 67% 12%, 69% 13%, 71% 17%, 72% 19%,
                    73% 25%, 73% 27%, 74% 31%, 76% 33%, 79% 35%, 84% 39%, 86% 40%, 88% 43%, 89% 47%, 88% 50%, 85% 53%, 83% 54%, 80% 56%, 79% 58%, 79% 59%, 79% 63%,
                    80% 64%, 82% 66%, 83% 67%, 87% 69%, 88% 71%, 88% 72%, 89% 76%, 88% 77%, 84% 78%, 81% 79%, 78% 79%, 73% 79%, 70% 79%, 67% 79%, 65% 79%, 61% 82%,
                    57% 83%, 56% 85%, 54% 87%, 52% 90%, 48% 92%, 45% 93%, 38% 92%, 36% 90%, 35% 88%, 35% 79%, 34% 76%, 33% 73%, 33% 72%, 29% 68%, 25% 67%, 23% 66%,
                    18% 65%, 13% 63%, 13% 62%, 9% 58%, 8% 54%, 9% 51%, 12% 49%, 17% 48%, 22% 47%, 25% 45%, 27% 44%, 30% 40%, 30% 38%, 29% 33%, 27% 30%, 26% 29%, 26% 24%, 27% 23%, 32% 19%);
}

.bee{
    height: 40vh;
    margin-left: -23px;
    margin-bottom: 28px;
}